.words_list {
}

.empty-list {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

.main-loader {
    position: absolute;
    top: 80px;
    right: 16px;

    mat-spinner {
        display: block;
        width: 20px;
        height: 20px;
    }
}

.loader {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
