<!-- <div class="category_item link" *ngIf="category" [routerLink]="['/words/' + category.id + '/list']">
    {{ category.name }}
</div> -->

<mat-list-item class="category_item link" *ngIf="categoryItem" [routerLink]="['/words/' + categoryItem.id + '/list']">
    <mat-icon matListItemIcon>{{ categoryItem.icon || 'note' }}</mat-icon>
    <div matListItemTitle class="category_item_name">{{ categoryItem.name }}</div>
    <div matListItemLine class="category_item_title" *ngIf="title">{{ title }}</div>
    <div matListItemLine class="category_item_descr" *ngIf="description">{{ description }}</div>
</mat-list-item>
