.category_item {
    display: flex;
    margin-top: 20px;

    .mat-icon {
        min-width: 48px;
    }

    &_name {
        font-size: 1.2rem;
        color: var(--mat-sys-primary);
    }

    &_title {
        margin-top: 8px;
        font-weight: 500;
    }

    &_descr {
        margin-top: 4px;
    }

    &:hover {
        opacity: 0.85;
    }
}
